<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sahyadrisiri">

    <!-- Internet Permission -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Sahyadri Siri"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SahyadriSiri">

        <!-- Google Maps API Key -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAO0kHIa_z0V054TeIIm9vZzAF4WB-DO_U"/>

        <!-- Main Activity -->
        <activity
            android:name=".MainActivity"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <!-- Report Activity -->
        <activity
            android:name=".ReportActivity"
            android:exported="false" />

        <!-- View Activity -->
        <activity
            android:name=".ViewActivity"
            android:exported="false" />

        <!-- Maps Activity -->
        <activity
            android:name=".MapsActivity"
            android:exported="false" />

    </application>

</manifest>